{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block container_classes %}page-login{% endblock %}

{% block body %}
<div class="ui middle aligned center aligned grid page-login__grid">
    <div class="column page-login__column">
        <h1 class="ui green header">Log in to your account</h1>
        <form method="post" class="ui large form">
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
            {% if error %}
                <div class="ui error message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="E-mail address" required autofocus>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" id="inputPassword" placeholder="Password" required>
                    </div>
                </div>
                <button type="submit" class="ui large fluid button green submit">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
