<div class="ui top large fixed inverted green menu">
    <div class="ui container">
        <a href="{{ path('app_homepage') }}" class="header item">Books Manager</a>
        <div class="ui simple dropdown item">
            Library
            <i class="dropdown icon"></i>
            <div class="menu">
                <a href="{{ path('app_books_list') }}" class="item">Books list</a>
                <a href="{{ path('app_books_add') }}" class="item">Add a book</a>
            </div>
        </div>
        <div class="item right">
            <a href="{{ path('app_login') }}" class="ui inverted button">Log in</a>
        </div>
    </div>
</div>
