{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui grid centered">
        <div class="column">
            <h1>You have borrowed the book!</h1>
            <p>Please remember about returning it and updating its status.</p>
        </div>
    </div>
{% endblock %}
