{% extends 'base.html.twig' %}

{% form_theme form 'form/fields.html.twig' %}

{% block body %}
    <div class="ui grid centered">
        <div class="eight wide column">
            <h1>Edit a book</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
