{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui grid centered">
        <div class="column">
            <h1>Thank you for returning the book!</h1>
        </div>
    </div>
{% endblock %}
